<div class="flex flex-col md:flex-row items-center justify-between w-full h-screen bg-gray-800 p-10">
  <!-- Left side - Image -->
  <div class="w-full md:w-1/2 m-6 md:mb-0">
    <img src="Upscale_Before.png" alt="Upscale_Before" class="w-full h-full object-cover rounded-lg" />

  

  </div>

  <!-- Right side - Text -->
  <div class="w-full md:w-1/2 text-white p-6">
    <h2 class="text-3xl font-bold mb-4 text-blue-500">RENDER</h2>
    <div class="text-lg space-y-4">
      <div>
        <h3 class="font-semibold text-xl"><span class="text-blue-500 ">U</span>TECH Render Engine</h3>
        <p>
          With our latest technology, the <span class="text-blue-500 ">U</span>TECH Render Engine offers a new REAL-TIME RAY TRACING experience.
        </p>
        <p>
          It's 100x faster than any other render engine, including V-ray, Cycles, Octane, and Corona.
        </p>
        <p>
          <span class="text-blue-500 ">U</span>TECH Render Engine has now become the industry standard, trusted by studios like DNEG and WETA.
        </p>
      </div>
    </div>
  </div>  
</div>

<div class="row mb-4">
  <div class="col-md-6">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Performance</h5>
        <canvas id="performanceChart"></canvas>
      </div>
    </div>
  </div>
</div>