<div id="preloader">
  <div class="loader"></div>
</div>

<!-- First Row - Text Section -->
<div class="bg-gray-800 ">
  <div class="flex flex-col items-center  justify-center w-full h-auto ms-60 bg-gray-800 p-10">
    <div class="w-full  text-white p-6">
      <h2 class="text-3xl font-bold mb-4 text-blue-500">RENDER</h2>
      <div class="text-lg space-y-4">
        <div>
          <h3 class="font-semibold text-xl"><span class="text-blue-500 ">U</span>TECH Render Engine</h3>
          <p>
            With our latest technology, the <span class="text-blue-500 ">U</span>TECH Render Engine offers a new
            REAL-TIME RAY TRACING experience.
          </p>
          <p>
            It's 100x faster than any other render engine, including V-ray, Cycles, Octane, and Corona.
          </p>
          <p>
            <span class="text-blue-500 ">U</span>TECH Render Engine has now become the industry standard, trusted by
            studios like DNEG and WETA.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Row - Chart Section -->

  <div class="container mx-auto p-10">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="card shadow-sm w-full md:w-3/6 mx-auto">
        <div class="card-body">
          <h5 class="card-title">Performance</h5>
          <canvas id="performanceChart"></canvas>
        </div>
      </div>
      <div class="card shadow-sm w-full md:w-3/4 mx-auto">
        <div class="card-body">
          <h5 class="card-title">Sales Chart</h5>
          <canvas id="salesChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>