
<div id="preloader">
  <div class="loader"></div>
</div>

<div class="flex flex-col md:flex-row items-center justify-between w-full h-screen bg-gray-800 p-10">
  <!-- Left side - Text -->
  <div class="w-full md:w-1/2 text-white p-6">
    <h2 class="text-3xl font-bold mb-4">32-Bits Exchanger</h2>
    <div class="text-lg space-y-4">
      <div>
        <h3 class="font-semibold text-xl">Turn any 16-Bits image into 32-Bits</h3>
        <p>
          With the 32-Bits Exchanger, you can turn any 16-Bits image into a 32-Bits image, giving you more control over the color range and exposure levels.
        </p>
        <p>
          This allows you to play with your color channels without worrying about the limitations of your color range.
        </p>
      </div>
    </div>
  </div>

  <!-- Right side - Image -->
  <div class="w-full md:w-1/2 m-6 md:mb-0">
    <img src="bit-32.jpg" alt="bit-32" class="w-full h-full object-cover rounded-lg" />
  </div>
</div>
